@font-face{
    font-family: Rosela;
    src: url(Rosela.otf)
}

@font-face{
    font-family: Cabin;
    src: url(Cabin.ttf)
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Rosela;
    background: #ffd0d5;
    width: 100%;
    min-height: 100vh; 
    transition: background-color 0.3s ease-in-out;  
}
.wrapper{
    width: 80%;
    padding: 30px 0;
    text-align: center;
}
.section-header{
    text-transform: uppercase;
    line-height: 70px;
    padding-bottom: 30px;
    font-size: 100px;
    color: #262626;
    letter-spacing: 2px;
    
}
.content {
  padding: 10%;
}
.content h2 {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.content p {
  line-height: 1.5;
}
.main-content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-main-content-gap: 25px;
    grid-column-gap: 15px;
}
.box {
    position: relative;
    cursor: pointer;
    margin-bottom: 15px;
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
    height: 250px;
    overflow: hidden;
}
.box p {
    font-family: Cabin;
}
.main-content .box{
    position: relative;
    cursor: pointer;
    margin-bottom: 15px;
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.15);
    height: 250px;
    overflow: hidden;  
}

.main-content .box::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    transition: all 0.3s ease-in-out;
}
.main-content .box:hover:before{
    top: 0;
    right: calc(100% - 5px);
    z-index: 10;
}
.main-content .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-content .box .img-text {
	position: absolute;
    display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255,255,255,0.8);
	width: 100%;
	height: 100%;
	top: 0;
	top: 100%;
	transition: all 0.5s ease-in-out;	
}
.main-content .box:hover .img-text{
    top: 0;
}
.book-icon-link {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999; 
    text-decoration: none;
}

.book-icon-link img {
    width: 40px; /* Adjust the size of the icon */
    height: auto;
    border-radius: 50%; /* Make the icon circular */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease-in-out; 
}

.book-icon-link:hover img {
    transform: scale(1.1); 
}
@media only screen and (max-width: 600px) {
    .box {
        width: 100%;
    }

    .img-text {
        padding: 10px;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    a {
        font-size: 18px;
    }

    .main-content .box::before {
        right: 0;
    }
    .section-header {
        font-size: 50px; /* Adjust the font size for smaller screens */
        line-height: 60px; 
        padding-bottom: 20px; 
    }
}







