@font-face{
    font-family: Rosela;
    src: url(Rosela.otf)
}

@font-face{
    font-family: Cabin;
    src: url(Cabin.ttf)
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}


body {
    font-family: Cabin;
    background-color: #262626;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh; 
}

header {
    font-family: Rosela;
    background-color:#262626;
    font-size: 50px;
    color: #ffd0d5;
    text-align: center;
    padding: 1rem;
    line-height: 70px; 
}

.reading-response-container {
    background-color:#FAF9F6;
    padding: 1rem;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(255,208,213, 0.5);
}

.reading-response-container h2 {
    color: #333;
}

.reading-response-container p {
    margin: 10px 0;
    color: #555;
}

footer {
    font-family: Rosela;
    background-color: #ffd0d5;
    color: #262626;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .box {
        width: 100%;
        /* Add other rules for small screens if needed */
    }

    header {
        font-size: 30px; /* Adjust the font size for smaller screens */
        line-height: 40px;
        padding-bottom: 10px;
    }
}