*{
    margin:0;
    padding:0;
}
#dc {
    background-color:#b5aca8; 
}
.container{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
}
.container .box{
   display: flex;
   flex-direction:row;
   justify-content: space-between;   
}
.container .box .gallerycolumn{
    display: flex;
    flex-direction: column;
    width: 32.5%;
}
.container .box .gallerycolumn img{
    width:100%;
    margin-bottom: 15px;
    border-radius: 5px;
}
#headingspace{
    margin-top: 125px;
}
#km {
    background-color:#8fa3a6; 
}
#nature{
    background-color:#7fb350; 
}