@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

html, body {
    margin:0;
    padding:0;
    font-family: 'Luckiest Guy', cursive;
   
}

#index {
    background-color: pink;    
}
  
#maintext{ 
    text-align: center;
    line-height: 80px;
    margin-top: 60px;
    margin-bottom: -50px;
   
}
h1{
    color:black;
    font-size: 75px;
    display: flex;
    height: 55%;
    align-items: center;
    justify-content: center;
}

#button {
    width:500px;
    color:#000;
    font-size: 20px;
    padding: 15px 0;
    background: pink;
    border:0;
    border-radius: 40px;
    outline: none;
    margin:auto;
    margin-top: 150px;
    font-style: #f6f7c3;
    font-family: 'Luckiest Guy', cursive;
    font-size: 25px;
    text-align: center;
    position: relative;
    justify-content: center;
    margin-bottom: 180px;
    align-items: center;
    display: flex;

}

#buttonlink {text-decoration: none; text-align: center; margin-top: 30px;
}

.easeanimation {
    transition: 1s;
  }
  
  #iconnav {
    position: relative;
    width: 700px;
    margin: auto;
  }

  td {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3D;
    padding: 25px;
  }
  td img {
    width: 200px;
    height: auto;
  }
  
  td:hover {
    transform: rotateY(180deg);
  }
  
  .front {
    top: 0;
    left: 0;
    position: absolute;
    backface-visibility: hidden;
  }
  
  .back {
    top: 0;
    left: 0;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
  }
#bottom{
    margin-top: 300px;
}

